AWS_PROFILE=your-aws-sso-profile
AWS_REGION=your-aws-region
DATASET_NAME=jodi_oil

RAW_URI=s3a://YOUR_BUCKET/jodi-oil/raw/
SILVER_URI=s3a://YOUR_BUCKET/jodi-oil/silver/
GOLD_URI=s3a://YOUR_BUCKET/jodi-oil/gold/

GLUE_DATABASE=jodi_oil_db
ATHENA_OUTPUT_S3=s3://YOUR_BUCKET/athena-results/

SPARK_ADAPTIVE_ENABLED=true
SPARK_SHUFFLE_PARTITIONS=200
SPARK_TARGET_FILES_PER_PARTITION=1
